.containerAbout {
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    border-style: ridge;
    border-color: rgb(209, 203, 183);
    background-color:rgb(221, 212, 184);
}

#tujuan {
    padding-top: 0px;
    padding-bottom: 0px;
}

.containerDeveloper {
    background-color: rgb(92, 88, 75);
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding: 7px 5px 5px 5px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(143, 138, 124);
}

#toDev {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
}